.chatmessages {
    background: lightgray;
    min-height: 1000px;
    contain: content;
    overflow: scroll;
    overflow-scrolling: auto;
    padding-left: 40px;
}

.ant-comment-content-author-time {
    color: #5B8FF9 !important;
}

.buttonsBar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.leaveChannel {
    margin: 10px;
}

.adminPanel {
    margin: 10px;
}

.passwordButtons {
    display: flex;
    flex-direction: column;
}

.removeButton {
    margin-top: 10px;
}