
body {
    background: azure;
    color: black;
}

/* Profile container */
.profilepage {
    flex-direction: column;
    text-align: center;
    display: flex;
}

.profile {
    width: 100%;
    height: 100%;
    margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
    padding: 20px 0 30px 0;

    background-image: url(../img/profile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 8%;
    height: 8%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

.profile-usertitle {
    text-align: center;
    margin-top: 20px;
}

.profile-usertitle-name {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
}

.profile-usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
}

.profile-userbuttons {
    text-align: center;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
    margin-top: 10px;
    border: none;
}

.profile-userbuttons .btn:last-child {
    margin-right: 0px;
}

/* Profile Content */
.profile-content {
    height: 100%;
    padding: 20px;
    background: #fff;
    /*min-height: 460px;*/
}

.stats {
    border: 2px solid black;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.stat {
    margin: 15px;
}

.value {
    padding-top: 20px;
    font-weight: bolder;
    background-color: #00babc;
}

.desc {
    font-weight: bolder;
    font-size: 20px;
    padding-top: 15px;
    border: 2px solid #00babc;
    align-items: center;
    justify-content: flex-end;
}

.ranking {
    padding-top: 10px;
    border: 2px solid #00babc;
}
