/* Profile container */
.profilepage {
    background: azure;
    color: black;
    flex-direction: column;
    text-align: center;
    display: flex;
    background: lightgrey;
}

.profile {
    width: 100%;
    height: 100%;
    margin: 20px 0;
}

.inviteButton {
    background-color: rebeccapurple;
    border: 2px solid rebeccapurple;
    color: white;
    font-weight: bolder;
}

.inviteButton:hover{
    color:white;
    transform: scale(1.1);
}

/* Profile sidebar */
.profile-sidebar {
    padding: 20px 0 30px 0;

    background-image: url(../img/background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 8%;
    height: 8%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

.profile-usertitle {
    text-align: center;
    margin-top: 20px;
}

.profile-usertitle-job {
    text-transform: uppercase;
    color: white;
    font-size: 22px;
    font-weight: 600;
    font-weight: bolder;
    margin-bottom: 15px;
}

.profile-userbuttons {
    text-align: center;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 10px;
    margin-top: 10px;
    border: none;
}

.profile-userbuttons .btn:last-child {
    margin-right: 0px;
}

/* Profile Content */
.profile-content {
    height: 100%;
    padding: 20px;
    background: lightgrey;
}

.stats {
    border: 2px solid black;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.stat {
    margin: 15px;
    background: white;
}

.value {
    padding-top: 20px;
    font-weight: bolder;
    background-color: #496b53;
}

.desc {
    font-weight: bolder;
    font-size: 20px;
    padding-top: 15px;
    border: 2px solid #496b53;
    align-items: center;
    justify-content: flex-end;
}

.ranking {
    margin-top: 12px;
    padding-top: 10px;
    border: 4px solid #496b53;
    background: white;
    max-height: 300px;
    contain: content;
    overflow: scroll;
    overflow-scrolling: auto;
}
