.PublicProfiles_component {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
}

.publicProfiles {

    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 800px;
    text-align: center;
    align-items: center;
}

.logoGame {
    text-align: center;
}

.publicProfiles table {
    width: 100%;
}

tr.usertable>td {
    padding-bottom: 15px;
}

.avatarIMG {
    width: 50px;
    height: auto;
    border-radius: 90px;
}




