.Register_component {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.register_title {
    color: white;
}

form {
    text-align: center;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-floating {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-floating label {
    color: black;
}

.form-check-input {
    margin-bottom: 10px;
    margin-bottom: 10px;
}

.form-check-label, h1, h3 {
    color: white;
}

.btn-primary {
    margin-top: 10px;
    background-color: #00babc!important;
}