.game
{
    width: 800px;
    height: 600px;
    background-color: black;
    margin: auto;
}

.red
{
    width: 800px;
    height: 600px;
    background-color: #ee4747;
    margin: auto;
}

.blue
{
    width: 800px;
    height: 600px;
    background-color: #6f6fff;
    margin: auto;
}

.green
{
    width: 800px;
    height: 600px;
    background-color: #76de76;
    margin: auto;
}

.stats
{
    width: 800px;
    height: 600px;
    background-color: black;
    margin: auto;
}

.winner
{
    position: absolute;
    left: 0;
    top: 200px;
    color: white;
    text-align: center;
    font-size: xx-large;
    width: 100%;
    pointer-events: none;
    user-select: none;
}

.powerUp
{
    width: 120px;
    height: 60px;
    background-color: white;
    margin-top: 10px;
    display: inline-block;
    margin-left: 40px;
    margin-right: 40px;
    pointer-events: none;
    user-select: none;
}

.powerUpsBar
{
    margin-top: 550px;
}