@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 6s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.WaitingRoom_component {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
}

.WaitingScreen {
    padding-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.waiting_title {
    padding-bottom: 50px;
    padding-top: 20px;
    color: white;
}

