.chatsidebar {
    background-color: dimgrey;
    height: 100%;
    border: 2px solid dimgrey;
}

.chatChannelsLock {
    display: flex;
}

.channelName {
    font-weight: bolder;
}

.lockImg {
    margin-left: 10px;
}